// primary
$primary: #f3a36d;
$primary-hover: #f3a36d;
$primary-focus: #f3a36d;
$primary-active: #f3a36d;

$secondary: #1e2530;
$secondary-hover: #1e2530;
$secondary-focus: #1e2530;
$secondary-active: #1e2530;
