@use "./colors";

.Button {
	font-weight: 500;
	background-color: colors.$primary;
	padding: 10px 20px;
	box-shadow: 2px 2px 0px 0px rgba(black, 0.8);
	position: relative;
}

.Button:hover {
	right: 1px;
	bottom: 1px;
	box-shadow: 3px 3px 0px 0px rgba(black, 0.8);
}

.Button:active {
	right: -2px;
	bottom: -2px;
	box-shadow: 0px 0px 0px 0px rgba(black, 0.8);
}
