@use "./colors";

.Slab {
	color: white;
	background-color: colors.$secondary;
	border: 6px solid colors.$primary;
	transition: all cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s;
}

.Slab:hover {
	scale: 1;
	color: colors.$secondary;
	background-color: colors.$primary;
	border: 2px solid colors.$secondary;
}
